__pycache__/
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

.venv/
env/
venv/
ENV/


.idea/
.vscode/

*.dll
*.so
*.dylib
*.exe

.pytest_cache/
coverage.xml
.coverage
htmlcov/

*.tar.gz
*.zip
*.whl

*.log
*.bak

.DS_Store
Thumbs.db

.env
.env.local
