__pycache__/
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

.venv/
env/
venv/
ENV/


.idea/
.vscode/

*.dll
*.so
*.dylib
*.exe

.pytest_cache/
Grok3API.egg-info/
coverage.xml
.coverage
htmlcov/

*.tar.gz
*.zip
*.whl

*.log
*.bak
*.bat
*.jpg
*.png
*.json

!/assets/*.jpg
!/assets/*.png

.DS_Store
Thumbs.db
cookies.txt
requirements.txt

.env
.env.local


